body {
  font-family: Bookman Old Style;
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/lion.jpg") no-repeat center fixed; */

  background: url("../images/lion.jpg")
   no-repeat  center center fixed;
   background-size: cover;
   color: #f7f7f7;
  margin-top: 20%;
}

h1 {
  text-align: center;
}
